{% use 'bootstrap_4_layout.html.twig' %}

{% block form_label_errors %}{% endblock %}

{% block form_help -%}
    {{- parent() -}}
    {{- form_errors(form) -}}
{%- endblock %}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <span class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %} d-block">
            {%- for error in errors -%}
                <span class="d-block">
                    <span class="form-error-message">{{ error.message }}</span>
                </span>
            {%- endfor -%}
        </span>
    {%- endif %}
{%- endblock form_errors %}

{% block form_label -%}
    {%- if errors|length > 0 -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' label-error')|trim}) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock form_label %}
