{% extends 'base.html.twig' %}

{% block title %}Créer un produit - {{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button formnovalidate>Créer le produit</button>
    {{ form_end(form) }}
{% endblock %}
