<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/tagsinput.css') }}">
        {% endblock %}
    </head>
    <body>
        {{ include('_navbar.html.twig') }}

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <script src="{{ asset('js/tagsinput.js') }}"></script>
            <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>

            <script>
                var tags = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    prefetch: '/tag.json'
                });
                tags.initialize();

                $('[data-role="tagsinput"]').tagsinput({
                    typeheadjs: {
                        name: 'tags',
                        displayKey: 'name',
                        valueKey: 'name',
                        source: tags.ttAdapter()
                    }
                });

                $.ajax('/tag.json').done(function (tags) {
                    console.log(tags);
                });
            </script>
        {% endblock %}
    </body>
</html>
